- if @gameplay.errors.any?
  $('#gameplay_notify').html("#{escape_javascript render(:partial=>'js_errors', :locals=>{:target=> @gameplay})}")
- else
  $('#gameplays').html("#{escape_javascript render("nights/gameplays")}")
  $('#gameplay_notify').html("")