.header Hello fellow gamer!

%table
  %tr
    %th Date
    %th Plays
 
  - Night.all.each do |night|
    %tr
      %td= link_to night.date, night_path(night)
      %td{:class => "night_plays"} #{night.gameplays.count} (#{night.finishedCount})