// Place all the styles related to the Nights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body
{
	background-color: lightsteelblue;
}

.date
{
	font-weight: bold;
}

.players
{
    	float: left;
    	text-align: center;
    	border-style: solid;
    	border-width: 1px;
    	border-color: yellow;
}

.title
{		
	border-color: red;
   	border-style: solid;
 	border-width: 1px;
    	text-align: center;
    	font-weight: bold;
}

.body
{
	background-color: lightsteelblue;
}

.date
{
	font-weight: bold;
}

.players
{
    	float: left;
    	text-align: center;
    	border-style: solid;
    	border-width: 1px;
    	border-color: yellow;
}

.title
{		
	border-color: red;
   	border-style: solid;
 	border-width: 1px;
    	text-align: center;
    	font-weight: bold;
}

.gameplays
{
	float: left;
	clear: both;
	background-color: gray;



	.gameplay_finished
	{
		border-style: solid;
    		border-width: 1px;
    		border-color: yellow;
    		float: left;
    		background-color: green;
    		border-radius: 10px;
    		margin: 10px;
    		padding: 10px;
			
		.game_name
		{
	    		font-weight: bold;
		}

		.play_status
		{
	    		font-style: italic;
		}

		.gameplay_form
		{
	    		border-color: yellow;
	    		border-width: 1px;
	    		border-style: solid;
	    		clear: both;
		}
	}
	
	.gameplay_unfinished
	{
		border-style: solid;
    		border-width: 1px;
    		border-color: yellow;
    		float: left;
    		background-color: red;
    		border-radius: 10px;
    		margin: 10px;
    		padding: 10px;
			
		.game_name
		{
	    		font-weight: bold;
		}

		.play_status
		{
	    		font-style: italic;
		}

		.gameplay_form
		{
	    		border-color: yellow;
	    		border-width: 1px;
	    		border-style: solid;
	    		clear: both;
		}
	}
}

td.night_plays
{
    text-align: center;
    vertical-align: middle;
}